DEPLOYER_PRIVATE_KEY=
OWNER_ADDRESS=

# RPC provider.
HARDHAT_RPC_ADDRESS=https://eth.drpc.org

# If set, the Hardhat node will fork mainnet at this block, otherwise it will fork at head.
HARDHAT_FORK_BLOCK=
